@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
  display: flex;
}

.bg-color{
  background-color:rgba(26, 11, 46, 1);
}

.navbar{
   justify-content: space-between;
   height: 92px;
   margin: 0 auto;
}

.site-name{
  font-size: 1.9rem;
  
}


.tech{
  color: #FFFFFF;
}
.wave{
  background: linear-gradient( rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),
   rgba(145, 0, 248, 1));
  -webkit-text-fill-color: transparent; 
   -webkit-background-clip: text; 
  
 
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
  align-items: center;
 
}

.navbar, .banner{
  max-width: 1600px;
  margin: 0 auto;
}

.btn-primary{
  border-radius: 10000px;
  width: 135px;
  height: 44px;
  margin-top: 24px;
    background: linear-gradient( to right, rgba(247, 233, 63, 1),
     rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));  

}

.subscribe{
  color: #FFFFFF;
}

.banner-btn{
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn-primary-two{

  width: 180px;
  height: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 10000px;
  color: #FFFFFF;
  background: linear-gradient( to right, rgba(247, 233, 63, 1),
     rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));  

}
.btn-icon{
  width: 15px;
  height: 15px;
}



.btn-primary-three{
  width: 145px;
  height: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 10000px;
   background: transparent;
   box-sizing: border-box;
   border-color: rgba(0, 255, 136, 1);
   color: rgba(0, 255, 136, 1) ;
  

}

.message{
  width: 15px;
  height: 15px;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  height: 760px;
}

.hero-circle {
  width:350px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
}
.circle{
  width: 100%;
  height: 100%;
}
.microphone{
  position: absolute;
  width: 120px;
  margin-top: 75px;
  
}

.banner-content{
  align-items: center;
  text-align: center;
  margin: 0 auto;
 

}
.banner-title{
  font-size: 2.8rem;
  font-weight: 800;
  color: #FFFFFF;
  margin-bottom: 10px;
  
}

.banner-discription{
  font-weight: 300;
  font-size: 1rem;
  color: #FFFFFF;


}

